<div class="patient" style="text-align: center">
    <div>
        <h3>Добавить Пациента</h3>
    </div>
    <div>
        <div>Имя</div>
        <input class="" type="text" ng-model="patient.name">
    </div>
    <div>
        <div>Фамилия</div>
        <input class="" type="text" ng-model="patient.surname">
    </div>
    <div>
        <div>Номер</div>
        <input class="" type="text" ng-model="patient.phone">
    </div><br>
    <div>
        <button class="btn bnt-large btn-default" ng-click="CreatePatient()">Добавить пациента</button>
    </div>
    <div class="patient">
            <h3>Patient: {{patient.name}}</h3>
             <div ng-repeat="patient in patinety">{{patient.name}}</div>
        </div>
</div>