<div class="usluga" style="text-align: center">
    <div>
        <h3>Добавить Услугу</h3>
    </div>
    <div>
        <div>Название услуги</div>
        <input class="" type="text" ng-model="usluga.name">
    </div><br>
    <div>
        <button class=" btn btn-large btn-primary" ng-click="CreateUsluga()">Добавить услугу</button>
    </div> 
   
    <!-- <div class="usluga">
        <h3>Услуги: {{usluga.name}}</h3>
         <div ng-repeat="usluga in uslugi">{{usluga.name}}</div>
    </div> -->
</div>