<div class="" style="text-align: center">
<style>
   body {
    background-image: url(img/Reasons-360-Degree-Feedback-for-Doctors-Makes-a-Hospital-Better.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
  </style>
    <div>
        <h3>Добавить Прием</h3>
    </div>
    <div>
        <div>Номер приема</div>
        <input class="" type="text" ng-model="group.code">
    </div><br>
    <div>
        <div>Название приема</div>
        <input class="" type="text" ng-model="group.name">
    </div><br>
    <div>
    <Label for="docPage">Врач: </Label>
    <select name="docPage" ng-model="group.doctor" ng-options="doctor.name for doctor in doctors"></select>

    <label for="uslPage">Услуга: </label>
    <select name="uslPage" ng-model="group.usluga" ng-options="usluga.name for usluga in uslugi"></select>

    <Label for="patPage">Пациент: </Label>
    <select name="patPage" ng-model="group.patient" ng-options="patient.name for patient in patienty"></select>
</div><br>
    <div>
        <button class="btn btn-large btn-primary" ng-click="CreateGroup()">Добавить прием</button>
    </div>
</div>





<!-- <div ng-controller="addGroupController">
            <form name="myForm">
             <label for="repeatSelect"> Выберите врача: </label>
               <select name="repeatSelect" id="repeatSelect" ng-model="group.doctor">
                <option ng-repeat="doctor in doctors" value="{{doctor.name}}">{{doctor.name}}</option>
               </select>
            </form>
          <tt>Врач : {{group.doctor}}</tt><br/>
         </div>
    <div>
        <div>Выберите uslugu</div>
        <div class="div1" ng-repeat="usluga in uslugi" ng-click="PickUsluga(usluga)" ng-model="group.usluga">{{usluga.name}}</div>
    </div> 
    <div>
        <div>Выберите patient</div>
        <div class="div1" ng-repeat="patient in patienty" ng-click="PickPatient(patient)" ng-model="group.patient">{{patient.name}}</div>
    </div>   -->
    <!-- <label for="docPage">Doctor: </label>
    <select name="docPage" ng-model="group.doctor">
        <option ng-selected="PickDoctor(doctor)"
                ng-repeat="doctor in doctors"
                value="{{doctor}}">
                {{doctor.name}}
        </option> 
    </select>  -->