<div class="student">
	<div>
		<h3>Добавить прием</h3>
	</div>
	<!-- <div> -->
		<!-- <div class="div1" ng-repeat="patient in patienty" ng-click="pickPatient(patient)">{{patient.name}} 
		{{patient.surname}}</div> -->
	<!-- 	<div>
    <select ng-model="value" ng-options="patient for patient in patienty">{{patient.name}}</select>
</div> -->
		<div ng-controller="ExampleController">
           <form name="myForm">
            <label for="repeatSelect"> Выберите пациента: </label>
              <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
               <option ng-repeat="patient in patienty" value="{{patient.name}}">{{patient.name}}</option>
              </select>
           </form>
         <tt>Пациент : {{data.model}}</tt><br/>
        </div><br>
	
	<!-- </div> -->
		<!-- <div class="div1" ng-repeat="doctor in doctors" ng-click="pickDoctor(doctor)">{{doctor.name}}</div>
	</div> -->
	<!-- <div> -->
	<div ng-controller="ExampleController">
           <form name="myForm">
            <label for="repeatSelect"> Выберите врача: </label>
              <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
               <option ng-repeat="doctor in doctors" value="{{doctor.name}}">{{doctor.name}}</option>
              </select>
           </form>
         <tt>Врач : {{data.model}}</tt><br/>
        </div>
        <br>
        </div>
       
	<!-- <div> -->
		<div ng-controller="ExampleController">
           <form name="myForm">
            <label for="repeatSelect"> Выберите услугу: </label>
              <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
               <option ng-repeat="usliga in uslugi" value="{{usluga.name}}">{{usluga.name}}</option>
              </select>
           </form>
         <tt>Услуга : {{data.model}}</tt><br/>
        </div>
        <br>
	<!-- </div> -->
	
	<div>
		<button class="btn btn-large btn-info" ng-click="CreateStudent()">Add priem</button>
	</div>
</div>