<div class="patient">
    <div>
        <h3>Добавить Пациента</h3>
    </div>
    <div>
        <div>Имя</div>
        <input class="" type="text" ng-model="patient.name">
    </div>
    <div>
        <div>Фамилия</div>
        <input class="" type="text" ng-model="patient.surname">
    </div>
    <div>
        <div>Номер</div>
        <input class="" type="text" ng-model="patient.phone">
    </div>
    <br>
    <div>
        <button class="btn btn-large btn-info" ng-click="CreatePatient()">Add patient</button>
    </div>
     <div class="patient">
        <h3>Пациенты: {{patient.name}}</h3>
         <div ng-repeat="patient in patienty">
         <h4>{{patient.name}}</h4>
         <button class="btn btn-danger" ng-click="deletePatient()">delete</button>
         </div>

    </div>
</div>