<div class="doctor" style="text-align: center">
    <div>
        <h3>Добавить Врача</h3>
    </div>
    <div>
        <div>Имя</div>
        <input class="" type="text" ng-model="doctor.name">
    </div><br>
    <div>
        <div>Фамилия</div>
        <input class="" type="text" ng-model="doctor.surname">
    </div><br>
    <div>
        <div>Специализация</div>
        <input class="" type="text" ng-model="doctor.speciality">
    </div><br>
    <div>
        <button class="btn btn-large btn-info" ng-click="CreateDoctor()">Добавить врача</button>
    </div>
   <!--  <div class="doctor">
        <h3>Врачи: </h3>
         <div ng-repeat="doctor in doctors">{{doctor.name}} {{doctor.surname}}</div>
    </div> -->
</div>